﻿@model IEnumerable<AdvertisementEntity.AdvertisementEntity>

@{
    ViewBag.Title = "Advertisements";
}

<h2>Advertisements</h2>

<p>
    @using (Html.BeginForm())
    {
        <p>
            Поиск по названию <br/>
            Название: @Html.TextBox("SearchString") <br/>
            <input style="margin-top: 5px" type="submit" value="Поиск"/>
        </p>
    }
</p>
<table class="table" style="width: 100%">
    <tr>
        <th>
            Название
        </th>
        <th>
            Автор
        </th>
        <th>
            Цена
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>